@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "ss01", "cv11", "tnum";
}

.tabular {
  font-variant-numeric: tabular-nums;
}
